<!--#set var="ENGLISH_PAGE" value="gnuastro.html" -->

<!--#include virtual="/server/html5-header.fr.html" -->
<!-- Parent-Version: 1.95 -->

<title>Utilitaires GNU pour l'astronomie - Gnuastro -
  Projet GNU - Free Software Foundation</title>

<style type="text/css"><!--
.reduced-width { width: 50em; }
.summary {
  font-size: 1em;
  box-sizing: border-box;
  border: 1px solid #bbb;
  margin-top: 1.3em;
}
.summary, .pict { width: 15.8em; max-width: 100%; }
@media (min-width:45em) { .left-column { margin-right: 17.5em; }}
--></style>
<!--#include virtual="gnuastro.translist" -->
<!--#include virtual="/server/banner.fr.html" -->
<div class="reduced-width">
<h2>Utilitaires GNU pour l'astronomie</h2>
<div class="thin"></div>

<p> Les utilitaires GNU pour l'astronomie (Gnuastro &ndash; <i>GNU Astronomy
  Utilities</i>) font partie des logiciels GNU officiels. Il s'agit d'un
  ensemble de programmes séparés pour la manipulation et l'analyse des
  données astronomiques. Les différents utilitaires utilisent tous la même
  interface en ligne de commande pour le confort des utilisateurs et des
  développeurs. Les utilitaires GNU pour l'astronomie se conforment aux
  <a href="/prep/standards/">normes de codage GNU</a>, et par conséquent
  s'intègrent bien au système d'exploitation GNU/Linux. Les astronomes
  ne seront donc pas déroutés par le code source, les méthodes de
  compilation et d'installation ou les interactions en ligne de commande,
  car ils les ont déjà vus avec tous les autres logiciels GNU qu'ils
  utilisent.</p>

<p>Si vous ne connaissez pas Gnuastro, voici quelques liens qui peuvent
  vous être utiles&nbsp;:</p>

<ul>
  <li><a href="manual/html_node/Quick-start.html">démarrage rapide</a> &ndash;
    installer Gnuastro&nbsp;;</li>

  <li><a href="manual/html_node/GNU-Astronomy-Utilities-list.html">liste
    complète</a> des utilitaires GNU pour l'astronomie&nbsp;;</li>

  <li><a href="manual/html_node/Tutorials.html#Tutorials">tutoriels</a> &ndash;
    exemples concrets d'utilisation, amusants et faciles à lire.</li>
</ul>

<div id="table-of-contents" class="summary rounded-corners">
<hr class="no-display" />
<h3 class="no-display">Contents</h3>
<ul>
  <li><a href="#download">Téléchargement</a></li>
  <li><a href="#installation">Installation</a></li>
  <li><a href="#documentation">Documentation</a></li>
  <li><a href="#mail">Listes de diffusion</a></li>
  <li><a href="#bug">Signalement de bogues</a></li>
  <li><a href="#contribute">Participer</a></li>
  <li><a href="#cite">Citations</a></li>
  <li><a href="#license">Licence</a></li>
</ul>
<hr class="no-display" />
</div>

<div class="left-column">
<h3 id="download">Téléchargement</h3>

<p>La version stable actuelle
  est <strong><a href="https://ftp.gnu.org/gnu/gnuastro/gnuastro-0.14.tar.gz">Gnuastro
  0.14</a></strong> (sortie le 25 janvier 2021). Utilisez <a href="https://ftpmirror.gnu.org/gnuastro/gnuastro-0.14.tar.gz">un
  miroir</a> si possible.  <br /><em>Les nouvelles versions sont annoncées
  sur <a href="https://lists.gnu.org/mailman/listinfo/info-gnuastro">info-gnuastro</a>.
  Abonnez-vous pour rester au courant.</em></p>

<p>Les changements importants sont décrits dans le
  fichier <a href="https://git.savannah.gnu.org/cgit/gnuastro.git/plain/NEWS?id=gnuastro_v0.14">
  NEWS</a>.</p>

<p>Le lien
  canonique <a href="https://ftp.gnu.org/gnu/gnuastro/gnuastro-latest.tar.gz">
  https://ftp.gnu.org/gnu/gnuastro/gnuastro-latest.tar.gz</a> renvoie
  toujours à la version la plus récente de Gnuastro. Utilisez un miroir
  (<a href="https://ftpmirror.gnu.org/gnuastro/gnuastro-latest.tar.gz">https://ftpmirror.gnu.org/gnuastro/gnuastro-latest.tar.gz</a>)
  si possible.</p>

<p>Les versions précédentes et les signatures PGP sont toujours disponibles sur
  <a href="https://ftp.gnu.org/gnu/gnuastro">https://ftp.gnu.org/gnu/gnuastro</a>.
  Utilisez un <a href="https://ftpmirror.gnu.org/gnuastro">miroir</a> si
  possible.</p>
</div>

<div class="pict narrow">
<a href="https://repology.org/metapackage/gnuastro/versions" target="_blank">
    <img src="https://repology.org/badge/vertical-allrepos/gnuastro.svg?header=Gnuastro packaging status" alt="Packaging status" />
</a>
</div>

<h3 id="installation">Installation</h3>

<p>Le chapitre <i><a href="manual/html_node/Quick-start.html">Quick
  start</a></i> (démarrage rapide) du <cite><a href="manual/">Livre de
  Gnuastro</a></cite> résume les
  commandes de compilation et d'installation.</p>

<p>Gnuastro n'a que trois dépendances obligatoires&nbsp;:
  <a href="manual/html_node/GNU-Scientific-Library.html">GNU Scientific
  Library</a>, <a href="manual/html_node/CFITSIO.html">CFITSIO</a> et
  <a href="manual/html_node/WCSLIB.html">WCSLIB</a>.<br />Dans le
  chapitre <i><a href="manual/html_node/Dependencies-from-package-managers.html">
  Dependencies from package  managers</a></i> (dépendances des gestionnaires
  de paquets), vous trouverez les commandes pour une
  installation facile des dépendances de Gnuastro en utilisant des
  logiciels comme <code>apt-get</code>, <code>dnf</code>
  (ou <code>yum</code>),
  <code>pacman</code>, <code>zypper</code> ou <code>brew</code>.</p>

<p>Dans le chapitre <i><a href="manual/html_node/Installation.html">
  Installation</a></i>, vous trouverez des explications complètes sur
  les
  <a href="manual/html_node/Dependencies.html">dépendances</a>, le
  <a href="manual/html_node/Downloading-the-source.html">téléchargement</a>,
  la <a href="manual/html_node/Build-and-install.html">compilation et
  l'installation</a> de Gnuastro.</p>


<h3 id="documentation">Documentation &ndash; le Livre</h3>

<p>Le <cite><a href="manual/">Livre de Gnuastro</a></cite> (documentation officielle, ou
   manuel) est disponible en ligne en différent formats, de même que la
   documentation de <a href="/manual/manual.html">la plupart des logiciels
   GNU</a>. Après installation, vous pouvez accéder en ligne de commande au
   livre complet ou aux parties se rapportant à des utilitaires
   particuliers (au
   format <a href="/software/texinfo/manual/texinfo/html_node/Info-Files.html#Info-Files">
   Info</a>). Vous trouverez des informations complètes
   dans <i><a href="manual/html_node/Getting-help.html">Getting
   help</a></i> (obtenir de l'aide). En résumé, voici comment vous pouvez ouvrir
   immédiatement en ligne de commande les parties les plus importantes du
   livre&nbsp;:</p>

<ul>
  <li><kbd>info&nbsp;gnuastro</kbd> pour voir le livre complet
    depuis le début.</li>

  <li><kbd>info&nbsp;<var>ProgramName</var></kbd> pour voir tout ce qui
    concerne un utilitaire particulier. Par exemple
    <kbd>info&nbsp;NoiseChisel</kbd> ou
    <kbd>info&nbsp;ImageCrop</kbd>.</li>

  <li><kbd>info&nbsp;<var>astprogname</var></kbd> pour voir uniquement le sous-chapitre
    « Invoking <var>ProgramName</var> » (invoquer
    <var>nom_du_programme</var>) du manuel. Chaque programme a une
    sous-chapitre de ce type qui explique les entrées/sorties et les options
    de la ligne de commande pour ce programme. Par exemple
    <kbd>info&nbsp;astnoisechisel</kbd> ou <kbd>info&nbsp;astimgcrop</kbd>.</li>

  <li><kbd><var>astprogname</var>&nbsp;--help</kbd> affichera une description de ce
    programme ainsi que la liste complète des options (classées par
    contexte).  Par exemple <kbd>astnoisechisel&nbsp;--help</kbd> ou
    <kbd>astimgcrop&nbsp;--help</kbd>.</li>

  <li><kbd>man&nbsp;<var>astprogname</var></kbd> affichera une page de manuel
    donnant la liste des options et des arguments du programme. Par exemple
    <kbd>man&nbsp;astnoisechisel</kbd>, ou
    <kbd>man&nbsp;astimgcrop</kbd>.</li>
</ul>


<h3 id="mail">Listes de diffusion</h3>

<p>Gnuastro a les listes de diffusion suivantes&nbsp;:</p>
<ul>
  <li><a
    href="https://lists.gnu.org/mailman/listinfo/info-gnuastro">info-gnuastro</a>
    pour toutes les annonces officielles&nbsp;;</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/help-gnuastro">help-gnuastro</a>
    pour contacter les utilisateurs expérimentés et les développeurs de
    Gnuastro à propos de problèmes d'utilisation, et leur demander conseil
    (il serait utile que vous lisiez d'abord <a href="manual/">la
    documentation</a>)&nbsp;;</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/bug-gnuastro">bug-gnuastro</a>
    pour signaler un bogue ou suggérer de nouvelles fonctions
    (voir <i><a href="manual/html_node/Report-a-bug.html">Report a
    bug</a></i> et
    <i><a href="manual/html_node/Suggest-new-feature.html">Suggest new
    feature</a></i> dans la documentation)&nbsp;;</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/gnuastro-devel">gnuastro-devel</a>
    pour discuter du développement (cette liste est surtout destinée aux
    développeurs de Gnuastro)&nbsp;;</li>

  <li><a href="https://lists.gnu.org/mailman/listinfo/gnuastro-commits">gnuastro-commits</a>
    pour annoncer les commits faits dans le dépôt officiel de Gnuastro
    (sous contrôle de version).</li>
</ul>

<p>Les rapports sur des problèmes de securité qui ne doivent pas être
  rendus publics peuvent être envoyés directement au mainteneur. S'il n'y a
  pas de réponse à une problème urgent, vous pouvez demander conseil sur la
  liste de diffusion générale dédiée à
  la <a href="https://lists.gnu.org/mailman/listinfo/security">securité</a>.</p>


<h3 id="bug">Signalement de bogues</h3>

<p>Le chapitre <i><a href="manual/html_node/Report-a-bug.html">Report a
  bug</a></i> explique en détail la marche à suivre pour signaler un
  bogue. Lisez-le s'il vous plaît&nbsp;! En résumé, allez voir
  en premier lieu
  les <a href="https://savannah.gnu.org/bugs/?group=gnuastro"
  target="_blank">archives des bogues de Gnuastro</a>. Cliquez sur
  <i>Display Criteria</i> (au-dessus de la liste), puis dans le menu
  déroulant <i>Open/Closed</i> choisissez « Any », et
  dans le menu <i>Category</i> choisissez le chapitre de Gnuastro qui
  correspond à votre bogue. En cliquant sur le bouton « Apply »,
  seuls les bogues pertinents s'afficheront. Les rubriques en vert sont
  fermées et correspondent à des bogues résolus, alors que les rubriques
  en rouge sont toujours ouvertes. Si votre bogue n'est pas dans la liste,
  choisissez l'une des deux options ci-dessous. Essayez d'être aussi
  descriptif que possible&nbsp;; indiquez la version de Gnuastro que vous
  utilisez, ainsi que les commandes ou le code qui ont créé le bogue, pour
  que nous puissions le reproduire et ainsi le corriger plus rapidement.</p>

<ul>
  <li><a href="https://savannah.gnu.org/support/?func=additem&amp;group=gnuastro"
    target="_blank">Soumettez votre bogue</a> sur la page principale de
    gestion du projet. C'est le méthode que nous recommandons. Remplissez
    aussi les métadonnées autant que possible (<i>Category, Item
    Group,</i> etc.)</li>

  <li>Ou bien, écrivez à
    &lt;<a href="mailto:bug-gnuastro=at=gnu.org">bug-gnuastro::at::gnu.org</a>&gt;,
    qui est l'une des <a href="#mail">listes de diffusion</a> de Gnuastro.
    Ce sera moins rapide que la première option&nbsp;: à cause du grand
    nombre de spams, cette liste est modérée et les autres developpeurs ne
    verront votre message qu'une fois approuvé. Donc, pour informer tous
    les developpeurs immédiatement, utilisez la première option.</li>
</ul>


<h3 id="contribute">Participer</h3>

<p>Le principe le plus important qui sous-tend Gnuastro est la possibilité
  pour tout un chacun de le hacker facilement (d'ajouter une nouvelle
  fonctionnalité, de changer une fonctionnalité préexistante, de corriger
  un problème, ou de comprendre ce qui se passe sous le capot)&nbsp;; voir
  <i><a href="manual/html_node/Science-and-its-tools.html">Science and
  its tools</a></i> (la science et ses outils). Vous êtes donc
  cordialement invité à apporter votre contribution&nbsp;; vous y êtes même
  vivement encouragé&nbsp;! Un chapitre complet est dédié au
  <a href="manual/html_node/Developing.html">développement</a> pour que
  votre participation soit la plus facile possible. Pour rejoindre
  l'ensemble du projet GNU, allez voir
  également <a href="/help/help.html">Comment aider GNU</a>.</p>

<dl>

<!--
<dt>Google Summer of Code 2020</dt>
<dd>Gnuastro <a href="https://www.gnu.org/software/soc-projects/ideas-2020.html#gnuastro">propose des projets</a> pour Google Summer of Code (GSoC) 2020.
  En général, si vous êtes intéressé par <a href="https://savannah.gnu.org/task/?group=gnuastro">l'une des tâches ouvertes</a> de Gnuastro pour le GSoC, veuillez nous contacter.
  Nous sommes également ouverts à toute nouvelle suggestion de contribuer à Gnuastro via GSoC 2020.</dd>
-->

<dt>Versions de test</dt>

<dd>L'essai de la dernière version de test (quand elle est disponible) est
  toujours très apprécié. Ces versions se trouvent
  sur <a href="https://alpha.gnu.org/gnu/gnuastro/">https://alpha.gnu.org/gnu/gnuastro/</a>
  et <a href="ftp://alpha.gnu.org/gnu/gnuastro/">ftp://alpha.gnu.org/gnu/gnuastro/</a>.
</dd>

<dt>Développement</dt>

<dd>Gnuastro est toujours en phase de développement actif. Donc, si cela
  vous intéresse, jetez un œil au
  chapitre <i><a href="manual/html_node/Developing.html">Developing</a></i>
  de la documentation et commencez à hacker, ou même créez vous-même un
  programme à l'intérieur de Gnuastro (il y a un modèle pour vous aider).
  Vous trouverez les sources de développement, les trackers de
  <a href="https://savannah.gnu.org/bugs/?group=gnuastro">bogues</a> et de
  <a href="https://savannah.gnu.org/task/?group=gnuastro">tâches</a>
  (fonctionnalités dont l'ajout est prévu), ainsi que d'autres
  renseignements,
  sur <a href="https://savannah.gnu.org/projects/gnuastro/">la page du
  projet Gnuastro</a> (hébergé
  par <a href="https://savannah.gnu.org">savannah.gnu.org</a>). Les
  trackers peuvent être un bon point de départ si vous voulez vous mettre à
  coder.  Pour vous tenir au courant du développement de Gnuastro,
  abonnez-vous aux listes de
  diffusion <a href="https://lists.gnu.org/mailman/listinfo/gnuastro-devel">gnuastro-devel</a>,
  et/ou <a href="https://lists.gnu.org/mailman/listinfo/gnuastro-commits">gnuastro-commits</a>.
</dd>

<dd>Les versions de Gnuastro sont sous le contrôle de
  Git. Les <a href="manual/html_node/Version-controlled-source.html">sources
  sous contrôle de version</a> peuvent
  être <a href="https://git.savannah.gnu.org/cgit/gnuastro.git/tree/">examinées
  en ligne</a>, ainsi que
  leur <a href="https://git.savannah.gnu.org/cgit/gnuastro.git/log/">historique</a>.
  Pour les cloner et en garder ainsi un exemplaire local sur votre système,
  utilisez l'une des commandes suivantes (la première est préférable si
  elle fonctionne)&nbsp;:

  <pre class="emph-box">
git clone git://git.sv.gnu.org/gnuastro.git
git clone https://git.sv.gnu.org/r/gnuastro.git</pre>
</dd>

<dd>Pour configurer et compiler les sources sous contrôle de version, vous
  allez avoir besoin de
  <a href="manual/html_node/Bootstrapping.html">bootstrap</a> (voir également
  les <a href="manual/html_node/Bootstrapping-dependencies.html">dépendances
  de bootstrap</a>). Vous trouverez dans <i><a
  href="manual/html_node/Forking-tutorial.html">Forking tutorial</a></i>
  la description d'une méthode de travail utilisée par le projet Gnuastro.
</dd>

<dt>Maintenance</dt>

<dd>Gnuastro a été créé par <a href="https://akhlaghi.org">Mohammad
  Akhlaghi</a>
  &lt;<a href="mailto:mohammad=at=akhlaghi.org">mohammad::at::akhlaghi.org</a>&gt;,
  qui en assure actuellement la maintenance. Merci d'utiliser les listes de
  diffusion pour entrer en contact.
</dd>
</dl>


<h3 id="cite">Citations</h3>

<p>Les citations sont vitales pour la continuité du travail sur Gnuastro. Tous
  les programmes ont une option commune, <code>--cite</code>, qui vous
  indiquera comment citer et reconnaître correctement le travail qu'a nécessité
  la création et la maintenance de chacun d'entre eux ainsi que, plus
  généralement, celles de Gnuastro. Si vous vous servez dans votre recherche
  de l'un des programmes ou de l'une des bibliothèques proposées par Gnuastro,
  merci d'utiliser ce qu'affiche cette option pour citer le programme et
  Gnuastro dans votre publication. Notez que les différents programmes peuvent
  demander des références à différents articles qui leur sont plus
  particulièrement consacrés.</p>

<p>Gnuastro est encore jeune, sa présentation et la description de ses
  fonctionnalités n'ont pas encore fait l'objet d'un article complet. Tant que
  cet article n'est pas paru, la référence à donner pour Gnuastro dans son
  ensemble est la présentation de NoiseChisel (<a
  href="https://adsabs.harvard.edu/abs/2015ApJS..220....1A">ApJS 220, 1</a>). Il
  s'agit de la première publication utilisant Gnuastro. Lorsque ce dernier aura
  atteint une maturité suffisante, une publication lui sera entièrement dédiée.
  Voir <a
  href="manual/html_node/GNU-Astronomy-Utilities-1_002e0.html">
  GNU Astronomy Utilities 1.0</a>.</p>

<p>Gnuastro est également répertorié dans la Bibliothèque de code source pour
  l'astrophysique (<a href="https://ascl.net">ASCL</a> &ndash; <cite>Astrophysics
  Source Code Library</cite>) sous le numéro <a
  href="https://ascl.net/1801.009">ascl.net/1801.009</a>. Veuillez utiliser cet
  identifiant quelque part dans votre article (par exemple dans les
  remerciements ou lorsque vous mentionnerez Gnuastro pour la première fois).
  Dans la bibliographie ou la liste de références en fin d'article, utilisez
  seulement les publications affichées par l'option <code>--cite</code>.</p>

<h3 id="license">Licence</h3>

<p><i>GNU Astronomy Utilities</i> (Gnuastro) est un logiciel
  libre&nbsp;; vous pouvez le redistribuer et/ou le modifier selon les
  termes de la <a href="/licenses/gpl.html" rel="license">licence publique
  générale GNU</a> telle que publiée par la <i>Free Software
  Foundation</i> (Fondation pour le logiciel libre)&nbsp;; soit en
  version&nbsp;3 de la licence, soit (à votre convenance) en version
  ultérieure.</p>

</div>
</div><!-- for id="content", starts in the include above -->
<!--#include virtual="/server/footer.fr.html" -->
<div id="footer">

<div class="unprintable">

<p>Veuillez envoyer les requêtes concernant la FSF et GNU à
&lt;<a href="mailto:gnu@gnu.org">gnu@gnu.org</a>&gt;. Il existe
aussi <a href="/contact/">d'autres moyens de contacter</a> la FSF. Les
liens orphelins et autres corrections ou suggestions peuvent être signalés à
&lt;<a href="mailto:bug-gnuastro=at=gnu.org">bug-gnuastro::at::gnu.org</a>&gt;.
</p>

<p>Si vous souhaitez nous aider à traduire les pages web de gnu.org, merci
de consulter le <a href="/server/standards/README.translations.html">guide de
traduction</a>.</p>
</div>

<!-- Regarding copyright, in general, standalone pages (as opposed to
     files generated as part of manuals) on the GNU web server should
     be under CC BY-ND 4.0.  Please do NOT change or remove this
     without talking with the webmasters or licensing team first.
     Please make sure the copyright date is consistent with the
     document.  For web pages, it is ok to list just the latest year the
     document was modified, or published.

     If you wish to list earlier years, that is ok too.
     Either "2001, 2002, 2003" or "2001-2003" are ok for specifying
     years, as long as each year in the range is in fact a copyrightable
     year, i.e., a year in which the document was published (including
     being publicly visible on the web or in a revision control system).

     There is more detail about copyright years in the GNU Maintainers
     Information document, www.gnu.org/prep/maintain. -->

<p>Copyright &copy; 2015-2017 Free Software Foundation, Inc.</p>

<p>Cette page peut être utilisée suivant les conditions de la
licence <a rel="license"
href="http://creativecommons.org/licenses/by-nd/4.0/deed.fr">Creative
Commons attribution, pas de modification, 4.0 internationale (CC BY-ND
4.0)</a>.</p>

<!--#include virtual="/server/bottom-notes.fr.html" -->
<div class="translators-credits">
Traduction : Lucas MacQuarrie &lt;<a
href="mailto:macquarrielucas=at=gmail.com">macquarrielucas::at::gmail.com</a>&gt;
<br />Révision : &lt;<a
href="mailto:trad-gnu&#64;april.org">trad-gnu&#64;april.org</a>&gt;</div>

<p class="unprintable"><!-- timestamp start -->
Dernière mise à jour :
$Date: 2017/11/28 17:58:53 $
<!-- timestamp end -->
</p>
</div>
</div>
</body>
</html>
